<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Convert</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>XCSourceEditorCommandDefinitions</key>
			<array>
                <dict>
                    <key>XCSourceEditorCommandClassName</key>
                    <string>$(PRODUCT_MODULE_NAME).SourceEditorCommand</string>
                    <key>XCSourceEditorCommandIdentifier</key>
                    <string>$(PRODUCT_BUNDLE_IDENTIFIER).title</string>
                    <key>XCSourceEditorCommandName</key>
                    <string>Title Case</string>
                </dict>
                <dict>
                    <key>XCSourceEditorCommandClassName</key>
                    <string>$(PRODUCT_MODULE_NAME).SourceEditorCommand</string>
                    <key>XCSourceEditorCommandIdentifier</key>
                    <string>$(PRODUCT_BUNDLE_IDENTIFIER).upperCase</string>
                    <key>XCSourceEditorCommandName</key>
                    <string>UPPER CASE</string>
                </dict>
                <dict>
                    <key>XCSourceEditorCommandClassName</key>
                    <string>$(PRODUCT_MODULE_NAME).SourceEditorCommand</string>
                    <key>XCSourceEditorCommandIdentifier</key>
                    <string>$(PRODUCT_BUNDLE_IDENTIFIER).lower</string>
                    <key>XCSourceEditorCommandName</key>
                    <string>lower case</string>
                </dict>
                <dict>
                    <key>XCSourceEditorCommandClassName</key>
                    <string>$(PRODUCT_MODULE_NAME).SourceEditorCommand</string>
                    <key>XCSourceEditorCommandIdentifier</key>
                    <string>$(PRODUCT_BUNDLE_IDENTIFIER).snake</string>
                    <key>XCSourceEditorCommandName</key>
                    <string>snake_case</string>
                </dict>
                <dict>
                    <key>XCSourceEditorCommandClassName</key>
                    <string>$(PRODUCT_MODULE_NAME).SourceEditorCommand</string>
                    <key>XCSourceEditorCommandIdentifier</key>
                    <string>$(PRODUCT_BUNDLE_IDENTIFIER).camel</string>
                    <key>XCSourceEditorCommandName</key>
                    <string>camelCase</string>
                </dict>
                <dict>
                    <key>XCSourceEditorCommandClassName</key>
                    <string>$(PRODUCT_MODULE_NAME).SourceEditorCommand</string>
                    <key>XCSourceEditorCommandIdentifier</key>
                    <string>$(PRODUCT_BUNDLE_IDENTIFIER).pascal</string>
                    <key>XCSourceEditorCommandName</key>
                    <string>PascalCase</string>
                </dict>
                <dict>
                    <key>XCSourceEditorCommandClassName</key>
                    <string>$(PRODUCT_MODULE_NAME).SourceEditorCommand</string>
                    <key>XCSourceEditorCommandIdentifier</key>
                    <string>$(PRODUCT_BUNDLE_IDENTIFIER).increment</string>
                    <key>XCSourceEditorCommandName</key>
                    <string>Increment</string>
                </dict>
                <dict>
                    <key>XCSourceEditorCommandClassName</key>
                    <string>$(PRODUCT_MODULE_NAME).SourceEditorCommand</string>
                    <key>XCSourceEditorCommandIdentifier</key>
                    <string>$(PRODUCT_BUNDLE_IDENTIFIER).decrement</string>
                    <key>XCSourceEditorCommandName</key>
                    <string>Decrement</string>
                </dict>
			</array>
			<key>XCSourceEditorExtensionPrincipalClass</key>
			<string>$(PRODUCT_MODULE_NAME).SourceEditorExtension</string>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.dt.Xcode.extension.source-editor</string>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2017 Kaunteya Suryawanshi. All rights reserved.</string>
</dict>
</plist>
